@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #EDEDED;
}

.App {
  background: #171717;
}

.main-area {
  height: 100vh;
}

.home, .about, .error {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background: #444444;
}

.home {
  background: #DA0037;
}

.error {
  background: #BD1616;
}

h1 {
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 10vh;
  background: #171717;
}

nav .link {
  margin: 0em 1em;
  font-weight: 200;
}

.link {
  text-decoration: none;
}